body {
    background-image: url("../images/vintage-concrete.png");

}

.emotion {
    display: inline-block;
}

button {
    background-color: blueviolet;
    margin-top: auto;
    margin-left: auto;
    padding: 10px 10px;
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
   
}

button:hover {
    background-color: hotpink;
    color: white;
}

form {
    float: right;
}